<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="HRMSystem" value="Data Source=172.16.161.153;Initial Catalog=20140407;Persist Security Info=True;User ID=sa; Password=Password01!;"  />-->
    <add key ="HRMSystem" value ="Data Source=WGIDESKTOP-JSAL\HRM;Initial Catalog=HR-EFORM-PL;Integrated Security=True"/>
    <!--<add key="HRMSystem" value="Data Source=172.16.161.153;Initial Catalog=20140407;Persist Security Info=True;User ID=sa; Password=Password01!;"  />-->
    <add key="BP07EmailFrom" value="" />
    <add key="BP07NotifyEmailTo" value="HReform_BusinessFunctionOwner" />
    <add key="BP07NotifyEmailFormatID" value="EM03" />
    <add key="BP05NotifyEmailFormatID" value="EM01" />
    <add key="logPath" value="D:/test/DbBackLog.txt" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Z_HR_PA_PAYROLL_CHK" value="Z_HR_PA_PAYROLL_CHK"/>
    <add key="Z_HR_PA_EPROFILE" value="Z_HR_PA_EPROFILE"/>
    <add key="Z_HR_PA_ATTEND_VIEW" value="Z_HR_PA_ATTEND_VIEW"/>
    <add key="Z_HR_PA_VALTAB" value="Z_HR_PA_VALTAB"/>
    <add key="Z_HR_PA_LV_REIM_ACCU" value="Z_HR_PA_LV_REIM_ACCU"/>
    <add key="Z_HR_PA_LV_APPLY" value="Z_HR_PA_LV_APPLY"/>
    <add key="Z_HR_PA_LV_HISTORY" value="Z_HR_PA_LV_HISTORY"/>
    <add key="Ip" value="10.129.2.43"/>
    <add key="SystemID" value="CED"/>
    <add key="Client" value="200"/>
    <add key="UserName" value="COM_SHAREPT"/>
    <add key="Password" value="initial"/>
    <add key="LDAPPath" value="LDAP://172.16.161.153/DC=sp,DC=com"/>
    <add key="serviceLoginPwd" value="Password01!"/>
    <add key="serviceLoginName" value="SP\spadmin"/>
    <add key="IsMailAdrsTest" value="0" />
    <add key="MailTestdAdrs" value="876@sp.com" />
    <add key="Z_HR_PA_ELEAVE" value="Z_HR_PA_ELEAVE"/>
    <add key="T_HEADER" value="T_HEADER"/>
    <add key="T_LEAVESUMMARY" value="T_LEAVESUMMARY"/>
    <add key="T_LEAVEHISTORY" value="T_LEAVEHISTORY"/>
    <add key="T_PREVBALANCE" value="T_PREVBALANCE"/>
    <add key="T_ACCUMHISTORY" value="T_ACCUMHISTORY"/>
    <add key="MailLinkUrl" value="http://win-emf4lncmh78:30910/_layouts/15/Canon/HRM/Common/HRC_CS06.aspx?" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>